<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Restaurant</title>
</head>
<h1>EZ Itinerary</h1>
<h2>Add Restaurant </h2>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
<body>

<form action="/addresaurant/addrestaurantsuccess" method="GET">

    <div class="form-group">
        <label for="trip_name">Trip Name:</label>
        <input type="text" id="trip_name" name="trip_name" value ="{{trip}}"><br>
    </div>


    <div class="form-group">
        <label class="sr-only" for="restaurant">Please Select a Resaurant</label>
        <select id="restaurant" name="restaurant">
<!--            <option value="default" selected disabled hidden>Select a hotel.</option>-->
            {% for restaurant in restaurants %}
                <option value="{{restaurant}}" SELECTED>{{restaurant}}</option>
            {% endfor %}
        </select>
    </div>
<input type = "submit">
</form>

    
    
</body>
</html>    