<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Group</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
</head>
<h1>EZ Itinerary</h1>
<h2>Edit Group</h2>
<body>


<form action="/addmember" method="GET">
    <div class="form-group">
        <label class="sr-only" for="trip">Please Select a Group to edit (if not shown, go back and create a group)</label>
        <select id="group" name="group">
            {% for group in groups %}
                <option value="{{group}}" SELECTED>{{group}}</option>
            {% endfor %}
        </select>
    </div>
    <button type = "submit">Add Member</button>
    <button type= "submit" formaction="/removemember">Remove Member</button>
    <button type= "submit" formaction="/deletegroupsuccess"> Delete Group</button>
</form>


</body>
</html>