<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
</head>
<body>
<h3>{{name}}'s Member(s)</h3>
<table border="1" cellpadding="5" cellspacing="5">
    <tr>
        {% for head in headers %}
            <th>{{ head }}</th>
        {% endfor %}
    </tr>
    {% for row in members %}
        <tr>
            {% for d in row %}
                <td>{{ d }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
</body>
</html>