<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Trips</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
</head>
<body>
<h1>EZ Itinerary</h1>
<h2>Trips</h2>

<p><a href="/createtrip">
    <button class="button">
        Create a Trip
    </button>
</a></p>
<n></n>
<p><a href="/edittrip">
    <button class="button">
        Edit an Existing Trip
    </button>
</a></p>
<n></n>
<p><a href="/viewTrip">
    <button class="button">
        View a Trip
    </button>
</a></p>
</body>
</html>