<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Remove Member</title>
</head>
<body>

<h1>EZ Itinerary</h1>
<h2>Remove Member</h2>
<n></n>

<form action = "/removesuccess" method="GET">

    <div class="form-group">
        <label class="sr-only" for="group_name">Please Select your Group Name (if not shown, go back and create a group):</label>
        <select id="group_name" name="group_name">
            {% for travel_group in travel_groups %}
                <option value="{{travel_group}}" SELECTED>{{travel_group}}</option>
            {% endfor %}
        </select>
    </div>
    
    <div class="form-group">
        <label for="member_name">Member Name:</label>
        <input type="text" id="member_name" name="member_name"><br>
    </div>

    <div class="form-group">
        <label for="dob">Date of Birth (YYYY-MM-DD):</label>
        <input type="text" id="dob" name="dob"><br>
    </div>

<input type ="submit">
</form>


</body>
</html>