<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Remove Member</title>
</head>
<body>

<h1>EZ Itinerary</h1>
<h2>Remove Member</h2>
<n></n>

<form action = "/removesuccess" method="GET">

    <div class="form-group">
        <label for="group_name">Group Name:</label>
        <input type="text" id="group_name" name="group_name" value ="{{group_name}}"><br>
    </div>
    
    
    <div class="form-group">
        <label class="sr-only" for="member">Please Select a Member to remove:</label>
        <select id="member" name="member">
            {% for member in members %}
                <option value="{{member}}" SELECTED>{{member}}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="dob">Date of Birth (YYYY-MM-DD):</label>
        <input type="text" id="dob" name="dob"><br>
    </div>

<input type ="submit">
</form>


</body>
</html>